<configuration><configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Heyo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="HeyoCraft.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <HeyoCraft.Properties.Settings>
            <setting name="Name" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="GUID" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="MemorySize" serializeAs="String">
                <value>512</value>
            </setting>
            <setting name="VersionChoose" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="JavaSelectedIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastChooseId" serializeAs="String">
                <value />
            </setting>
            <setting name="LastChooseIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BackgroundImagePath" serializeAs="String">
                <value />
            </setting>
            <setting name="FirstTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Javas" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="LiteMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MCID" serializeAs="String">
                <value />
            </setting>
            <setting name="ThemeColor" serializeAs="String">
                <value>0, 200, 255</value>
            </setting>
            <setting name="AutoLogIn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="remPW" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Minecrafts" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="DownloadPath" serializeAs="String">
                <value />
            </setting>
            <setting name="UseAnimation" serializeAs="String">
                <value>True</value>
            </setting>
        </HeyoCraft.Properties.Settings>
    </userSettings>
               </configuration>